body {
    padding: 1rem;
  }

  button {
    margin-top: 1rem;
  }

  fieldset {
    padding: 1rem;
    background-color: #eee;
  }

  legend {
    background-color: #555;
    color: #fff;
    padding: 3px 8px;
  }